---
layout: default
---

<div class="home">
    <div class="row">
        {% for item in site.data.navigation %}
        <div class="col-4">
            <div class="card bg-light mb-3" >
                <a href="{{ item.url }}"><img class="img-responsive" src="{{ item.img }}" style="width: 100%;"></a>
                <h3 class="card-title"><a href ="{{ item.url }}" style="color: inherit;">{{ item.title }}</a></h3>
                <div class="card-body">
                    {{ item.desc }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
